:root {
    --primary: #4628ff;
    --warning: #FFD028;
    --error: #EB3F27;
    --success: #75fa83;
    --white: #ffffff;
    --dark: #181717;
    /* --solid: none;
    --outline: 2px solid #000; */
}
.btn {
    font-family: sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
}


/*states*/
.btn--primary {
    background-color: var(--primary);
}
.btn--warning {
    background-color: var(--warning);
}
.btn--error {
    background-color: var(--error);
}
.btn--success {
    background-color: var(--success);
}

/*variants*/
.btn--solid{
    border:none;
    color: var(--white);
}
.btn--solid a{
    color: var(--white);
}
.btn--outline {
    background-color: transparent;
}

/*combines*/
.btn--warning.btn--solid{
    color:var(--dark);
} 

.btn--warning.btn--solid a{
    color:var(--dark);
}

.btn--primary.btn--outline{
    border:2px solid var(--primary);
    color: var(--primary);
}

.btn--primary.btn--outline a {
    color: var(--primary);
}

.btn--warning.btn--outline{
    border:2px solid var(--warning);
    color:var(--warning);
}

.btn--warning.btn--outline a{
    color:var(--warning);
}

.btn--error.btn--outline{
    border:2px solid var(--error);
    color:var(--error);
}

.btn--error.btn--outline a{
    color:var(--error);
}

.btn--success.btn--outline{
    border:2px solid var(--success);
    color:var(--success);
}

.btn--success.btn--outline a{
    color:var(--success);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    background-color: #cccccc;
}

/* button sizes*/
.btn--sm{
    padding: 5px 10px;
    font-size:14px;
}
.btn--md {
    padding: 10px 20px;
    font-size: 18px;
}
.btn--lg {
    padding: 15px 30px;
    font-size: 20px;
}