.overlay{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.overlay.overlay--X--left{
    justify-content: flex-start;
}

.overlay.overlay--X--right{
    justify-content: flex-end;
}

.overlay.overlay--Y--top{
    align-items:flex-start;
}

.overlay.overlay--Y--bottom{
    align-items:flex-end;
}

.fade{
    background:rgba(117, 111, 122, .3);
    animation: fadeIn 1s ease-in-out;
}

.popup{
    width:500px;
    position:relative;
    padding: 27px 20px 20px 10px;
    background: #5c6bc0;
    border-radius:10px;
    transform-origin: center bottom;
}
.popup__close{
    color:#fff;
    position:absolute;
    top:5px;
    right:5px;
}
.popup__close :hover{
    cursor: pointer;
}


@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
