.item {
    border: 1px solid #8E99F3;
    border-radius: 10px;
    width: 70%;
    min-height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.item:nth-child(even) {
    margin: 20px auto;
}

.item:not(:first-child):last-child {
    margin-bottom: 0;
}

.list-item {
    background-attachment: fixed;
}

.faq {
    background-color: dodgerblue;
}

.data {
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
}

.media {
    display: flex;
}